In [1]:
import numpy as np
import pandas as pd

In [ ]:
data_df = pd.read_csv("NSMES1988-NSMES1988.csv")

In [8]:
data_df.head(15)

,Unnamed: 0,visits,nvisits,ovisits,novisits,emergency,hospital,health,chronic,adl,region,age,gender,married,school,income,employed,insurance,medicaid
0,1,5,0,0,0,0,1,average,2,normal,other,6.9,male,yes,6,2.8810,yes,yes,no
1,2,1,0,2,0,2,0,average,2,normal,other,7.4,female,yes,10,2.7478,no,yes,no
2,3,13,0,0,0,3,3,poor,4,limited,other,6.6,female,no,10,0.6532,no,no,yes
3,4,16,0,5,0,1,1,poor,2,limited,other,7.6,male,yes,3,0.6588,no,yes,no
4,5,3,0,0,0,0,0,average,2,limited,other,7.9,female,yes,6,0.6588,no,yes,no
5,6,17,0,0,0,0,0,poor,5,limited,other,6.6,female,no,7,0.3301,no,no,yes
6,7,9,0,0,0,0,0,average,0,normal,midwest,7.5,female,no,8,0.8280,no,yes,no
7,8,3,0,0,0,0,0,average,0,normal,midwest,8.7,female,no,8,3.0456,no,yes,no
8,9,1,0,0,0,0,0,average,0,normal,midwest,7.3,female,no,8,3.0456,no,yes,no
9,10,0,0,0,0,0,0,average,0,normal,midwest,7.8,female,no,8,3.0456,no,yes,no
10,11,0,0,0,0,0,0,average,1,normal,midwest,6.6,male,yes,8,2.9498,yes,yes,no
11,12,44,5,2,0,0,1,average,5,limited,midwest,6.9,female,yes,15,2.9498,no,yes,no
12,13,2,0,0,0,0,0,average,1,limited,midwest,8.4,female,no,8,0.8988,no,no,no
13,14,1,0,0,0,0,0,poor,1,limited,midwest,8.1,female,no,8,0.8988,no,no,yes
14,15,19,0,1,2,0,1,average,1,normal,midwest,7.8,female,no,12,6.0654,no,yes,no

In [4]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4406 entries, 0 to 4405
Data columns (total 19 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  4406 non-null   int64
 1   visits      4406 non-null   int64
 2   nvisits     4406 non-null   int64
 3   ovisits     4406 non-null   int64
 4   novisits    4406 non-null   int64
 5   emergency   4406 non-null   int64
 6   hospital    4406 non-null   int64
 7   health      4406 non-null   object
 8   chronic     4406 non-null   int64
 9   adl         4406 non-null   object
 10  region      4406 non-null   object
 11  age         4406 non-null   float64
 12  gender      4406 non-null   object
 13  married     4406 non-null   object
 14  school      4406 non-null   int64
 15  income      4406 non-null   float64
 16  employed    4406 non-null   object
 17  insurance   4406 non-null   object
 18  medicaid    4406 non-null   object
dtypes: float64(2), int64(9), object(8)
memory usage: 654.1+ KB

No data is missing.

In [5]:
print(data_df)

      Unnamed: 0  visits  nvisits  ovisits  novisits  emergency  hospital  \
0              1       5        0        0         0          0         1
1              2       1        0        2         0          2         0
2              3      13        0        0         0          3         3
3              4      16        0        5         0          1         1
4              5       3        0        0         0          0         0
...          ...     ...      ...      ...       ...        ...       ...
4401        4402      11        0        0         0          0         0
4402        4403      12        0        0         0          0         0
4403        4404      10        0       20         0          1         1
4404        4405      16        1        0         0          0         0
4405        4406       0        0        0         0          0         0

         health  chronic      adl region  age  gender married  school  \
0       average        2   normal  other  6.9    male     yes       6
1       average        2   normal  other  7.4  female     yes      10
2          poor        4  limited  other  6.6  female      no      10
3          poor        2  limited  other  7.6    male     yes       3
4       average        2  limited  other  7.9  female     yes       6
...         ...      ...      ...    ...  ...     ...     ...     ...
4401    average        0   normal  other  8.4  female     yes       8
4402    average        2   normal  other  7.8  female      no      11
4403    average        5   normal  other  7.3    male     yes      12
4404    average        0   normal  other  6.6  female     yes      12
4405  excellent        0   normal  other  7.1    male     yes       0

        income employed insurance medicaid
0     2.881000      yes       yes       no
1     2.747800       no       yes       no
2     0.653200       no        no      yes
3     0.658800       no       yes       no
4     0.658800       no       yes       no
...        ...      ...       ...      ...
4401  2.249700       no       yes       no
4402  5.813200       no       yes       no
4403  3.877916       no       yes       no
4404  3.877916       no       yes       no
4405  6.596800      yes        no       no

[4406 rows x 19 columns]

In [7]:
data_df.to_json("NSMES1988.json",orient='split')